/* stylelint-disable */

// Breakpoints
$breakpoints-xs: 360px;
$breakpoints-sm: 576px;
$breakpoints-md: 768px;
$breakpoints-lg: 992px;
$breakpoints-xl: 1024px;
$breakpoints-2xl: 1272px;
$breakpoints-3xl: 1440px;
$breakpoints-4xl: 1600px;

:root {
  // Familles de Fonts
  --font-family-primary: 'Rubik', Arial, sans-serif;

  // Couleurs principales
  --brand-uno: #3191ff;
  --brand-uno-border: var(--brand-uno);

  // Neutral colors: nuances de gris
  --neutral-transparent: rgba(255, 255, 255, 0);
  --neutral-white: #EBEEF3;
  --neutral-black: #041e40;
  --neutral: var(--neutral-black);
  --neutral-light: #d6dde7;
  --neutral-dark: #181818;

  // Couleurs sémantiques
  --signal-success: #5CBF54; // Vert
  --signal-success-background: #CDEBCB;
  --signal-success-border: var(--signal-success);

  --signal-warning: #E39735; // Orange
  --signal-warning-background: #F1D5B1;
  --signal-warning-border: var(--signal-warning);

  --signal-error: #C71414; // Rouge
  --signal-error-background: #FDEDED;
  --signal-error-border: var(--signal-error);

  // Spacing
  //--spacing-none: 0;
  //--spacing-xs: 0.25rem;
  //--spacing-sm: ...

  // Radius
  --radius-none: 0;
  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
  --radius-2xl: 1.25rem;
  --radius-3xl: 1.5rem;
  --radius-full: 999px;

  // Icons
  --icon-xs: 0.5rem;
  --icon-sm: 0.75rem;
  --icon-md: 1rem;
  --icon-lg: 1.25rem;
  --icon-xl: 1.5rem;
  --icon-2xl: 2rem;
  --icon-3xl: 3rem;
  --icon-base: var(--icon-xl);

  // Transition
  --transition-base: 0.2s ease-out;
}

/* stylelint-enable */