$component-name: nav;

.#{$component-name} {
  width: 100%;
  position: absolute;

  .menu-toggle {
    z-index: 20;
    position: fixed;
    display: flex;
    top: 2rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    padding: 0;
    aspect-ratio: 1/1;
    background-color: transparent;
    border: none;
    justify-content: center;
    align-items: center;

    i {
      color: var(--brand-uno);
      font-size: 2.5rem;

      &.scrolled {
        color: var(--neutral);
      }
    }
  }

  .nav-modal {
    z-index: 10;
    position: fixed;
    display: none;
    width: 100%;
    height: 100dvh;
    background-color: transparent;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    column-gap: 6rem;

    &.active {
      display: flex;
    }

    &__background {
      z-index: -1;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100dvh;
      object-fit: cover;
    }

    &__content {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 90%;
        height: auto;
        filter: none;
      }
    }

    > .menu {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      ul {
        margin: 0;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;

        li {
          font-size: 3rem;
          font-weight: 500;
          line-height: 1.1;

          a {
            color: var(--neutral-white);
            text-transform: uppercase;

            &:hover {
              color: var(--brand-uno);
            }
          }
        }
      }
    }
  }

  @media (width < $breakpoints-lg) {
    .nav-modal {
      &__content {
        display: none;
        visibility: hidden;
      }

      .menu {
        justify-content: center;
      }
    }
  }
}